.header__lang-link {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    padding-right: 10px;
}
.header__lang-link:hover {
    opacity: 0.8;
}
.header__lang-link:nth-child(2) {
    padding-right: 0;
}