.cover__link {
    display: grid;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
    min-height: 740px;
    background-size: cover;
    padding-top: 10px;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 636px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 475px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 150px;
    }
}

