.photo-grid__item {
  min-height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}
