.footer__link {
    padding-right: 18px;
    text-decoration: none;
    color: #fff;
}
.footer__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        padding-bottom: 32px;
    }
}