.cover {
    padding: 0;
    margin: 0;
    margin-top: 92px;
    background-repeat: no-repeat;
    background-image: url("../../images/__back.png");
    background-size: cover;
}


@media screen and (max-width: 767px) {
    .cover {
        margin-top: 44px;
    }
}
