.cover__background {
    background-image: url("../../../images/__background.png");
    grid-column: 1;
    grid-row: 1/3;
    background-size: cover;
}

.cover__overlay:hover {
    opacity: 0.8;
    background: #2A2C2F;
}