.footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
    }
}